* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/ceu-estrelado.png');
  background-size: auto 100vh; 
  font-family: Arial;
  height: 100vh;
  font-size: 10px;
}

@media (min-width: 400px) {
body{
  font-size: 14px;


}


}

header{
  height: 100vh; /* isso deixa a pagina na tela inteira, como se fosse dividida por placos*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}
/* isse codigo foi escrito para por*/
.menu a{
  display: block;
  padding: 10px 20px;
  transition: background-color 2s, color 2s;
  
}
.menu a:hover{
  background-color: violet;

}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title{
  font-size: 10em;
  font-family: 'PT Sans', sans-serif;
}

@media (min-width: 360px) {
.site-title 
  {
  font-size: 4em;
}
.avatar img{
 height: 356px;
 width:250px;
 margin-top: 20px;
 position: relative;
 display: grid;
 justify-content: center;
 align-items: center;
 
}
}







div, img .imageTopo{
  position: absolute;
  display:grid;
  justify-content: center;
  align-items: center;
  
}
.imageTopo{
  height: 200px;
  margin-top: -350px;
  object-fit: cover;
  object-position: center;
  clip-path: circle(50% at 50% 50%);
}

.site-subtitle {
 font-style: italic;
}

/* edição das imagens*/

.img-portfolio{
  height: 180px;
  width: 240px;
  object-fit: cover;/*para modificar a imagem e deixar mais nitida.para inquadra melhor.*/
  object-position: center;
  transition: transform 500ms;
}
.img-portfolio:hover{
  transform: scale(1.2) rotate(-2deg);
}
.sobre h2,
.contato h2,
.projetos h2{
  font-family: 'Courgette', cursive;
  color: whitesmoke;
  font-size: 4em;
  margin-bottom: 1.8em;
}

@media (min-width: 1200px){
  .sobre ,
.contato ,
.projetos {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
.sobre p{
  color: antiquewhite;
  text-indent: 2em ;
  margin-bottom: 2em;
  font-family: 'PT Sans', sans-serif;
}

.projetos .grid{
  display: grid;
  gap: 2em ; /* gap diz o espaçamento entre as linhas*/
 
}

.sobre .avatar{
  float: right ;
  margin-left: 2em;
}
.sobre .avatar img{
  clip-path: polygon(100% 0%, 93% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0% );
}



/*.card{
  position: relative;
  
}
.front, .back{
  position: absolute;
  top: 0;
  left: 0;
}
.back{
  background-color: antiquewhite;
height: 180px;
width: 100%;

}*/

img{
  height: 480px;
  margin-top: -90px;
 
}
.sobre p{
  font-family: 'Caveat', cursive;
  font-size: 20px;
}



@media (min-width: 560px){
  .projetos .grid{
   
    grid-template-columns: 240px 240px; /* tamanho de cada coluna */
}
}
@media (min-width: 880px){
  .projetos .grid{
   grid-template-columns: repeat(3, 260px); /* tamanho de cada coluna */
   justify-content: center;
   align-content: center;
   height: calc(100vh - 4em - 48px - 1.5em);
}
}
.projetos figure {
  text-align: center;

}
.sobre,
.contato, 
.projetos{
 padding: 2em;
 min-height: 100vh;
}

@media (min-width: 1200px ) {
  .img-portfolio{
    height: 10em;
    width: 100%;
  } 
}


.contato a{
  color: whitesmoke;
  font-size: 5em;
  cursor: pointer;
  
}

.contato{
  margin-top:7px;
}

.contato .icons{
 text-align: center;
 display: block;
 justify-content: space-around;
 margin-top:10px;

}

footer{
  font-size: 25px;
  color: antiquewhite;
  text-align: center;
  margin-top: 500px;
}

.contato a:hover{
  text-decoration: none;
  text-shadow: 0px 0px 10px whitesmoke;/*isso coloca sombra.*/
}
 animação para amostra o titulo na tela
.titulos{
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s anima forwards;
}

@keyframes anima {
 
  100%{
   transform: scale(1) translateY(0);
   opacity: 1;
  }
}


.experiencias{
  color: antiquewhite;
}

